<div class="star-form-container" ng-controller="loginCtrl">
        
        <form ng-submit="login()">
            <div ng-if="invalidLogin" class="alert alert-danger">
                <strong>Danger!</strong>Invalid Credentials. Luke Skywalker| 19BBY
            </div>
            <h3>Login to Your Account</h3>
            <div class="form-group">
                <input ng-model="username" type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
            </div>
            <div class="form-group">
                <input ng-model="password" type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
</div>